.ColorPickerApp {
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ColorPickerApp-info-container {
}

.ColorPickerApp-sliders-container {
  order: -1;
  margin-bottom: 1em;
}

@media (min-width: 900px) {
  .ColorPickerApp {
    flex-direction: row;
  }

  .ColorPickerApp-info-container {
    margin-bottom: 0;
    margin-right: 1em;
    flex-grow: 1;
  }

  .ColorPickerApp-sliders-container {
    flex-basis: 300px;
    order: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {

  .ColorPickerApp-info-container {
    display: flex;
  }

  .ColorPickerApp-info-container .ColorInfo {
    margin-right: 1em;
    flex-grow: 1;
  }

  .ColorPickerApp-info-container .ColorSimilarOptions {
    flex-grow: 1;
  }
}
